<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/">Biblio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        
            <li <%- title === "Home" ? 'class="nav-item\ active"'  : "class='nav-item'" %> >
                <a class="nav-link my-md-2 my-1" href="/">Home</a>
            </li>
            
            <li <%- title === "Catalog" ? 'class="nav-item\ active"'  : "class='nav-item'" %> >
                <a class="nav-link my-md-2 my-1" href="/catalog">Catalog</a>
            </li>
            <% if (typeof is_logged !== 'undefined' && is_logged){ %>
                <% if (typeof is_admin !== 'undefined' && is_admin){ %>
                    <li <%- title === "Create Item" ? 'class="nav-item\ active"'  : "class='nav-item'" %> >
                        <a class="nav-link my-md-2 my-1" href="/catalog/createitems">Insert New Item</a>
                    </li>
                <% } %>
                <li <%- title === "User CP" ? 'class="nav-item\ active"'  : "class='nav-item'" %> >
                    <a class="nav-link my-md-2 my-1" href="/users/usercp">User Profile</a>
                </li>
                <% if (typeof is_admin !== 'undefined' && is_admin){ %>
                    <li <%- title === "Admin CP" ? 'class="nav-item\ active"'  : "class='nav-item'" %> >
                        <a class="nav-link my-md-2 my-1" href="/users/admincp/manageusers">Manage Users</a>
                    </li>
                <% } %>

            <% } %>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <% if (typeof is_logged === 'undefined' || !is_logged){ %>
                <li <%- title === "Register" ? 'class="nav-item\ active"'  : "class='nav-item'" %> >
                    <a class="btn btn-outline-primary my-md-2 my-1 mr-2" href="/users/register">Register</a>
                </li>
                <li <%- title === "Login" ? 'class="nav-item\ active"'  : "class='nav-item'" %> >
                    <a class="btn btn-outline-success my-md-2 my-1 mr-2" href="/users/login">Login</a>
                </li>
            <% } %>

            <% if (typeof is_logged !== 'undefined' && is_logged){ %>
            <li class="nav-item">
                <a class="btn btn-outline-danger my-md-2 my-1" href="/users/logout">Logout</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
