<html lang="en">
<head>
    <%- include('partials/_header'); -%>
</head>

<body>
    <%- include('partials/_navbar'); -%>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th><p>Item Name</p></th>
                    <th><p>Type</p></th>
                    <th><p>Available Quantity</p></th>
                    <th><p>Update</p></th>
                    <th><p>Delete</p></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i in list.resultMagazines.resultMagazines) { %>
                    <tr>
                        <td><p><%= list.resultMagazines.resultMagazines[i].title %></p></td>
                        <td><p><%= list.resultMagazines.resultMagazines[i].discriminator %></p></td>
                        <td><p><%= list.resultMagazines.resultMagazines[i].quantity %></p></td>
                        <td><p><a href="catalog/update/<%= list.resultMagazines.resultMagazines[i].magazine_id %>" style= "float: right">Update</a></p></td>
                        <td><p><a href="catalog/delete/<%= list.resultMagazines.resultMagazines[i].magazine_id %>" style= "float: right">Delete</a></p></td>
                    </tr>
                <% } %>

                <% for(var i in list.resultMovies.resultMovies) { %>
                    <tr>
                        <td><p><%= list.resultMovies.resultMovies[i].title %></p></td>
                        <td><p><%= list.resultMovies.resultMovies[i].discriminator %></p></td>
                        <td><p><%= list.resultMovies.resultMovies[i].quantity %></p></td>
                        <td><p><a href="catalog/update/<%= list.resultMovies.resultMovies[i].movie_id %>" style= "float: right">Update</a></p></td>
                        <td><p><a href="catalog/delete/<%= list.resultMovies.resultMovies[i].movie_id %>" style= "float: right">Delete</a></p></td>
                        </tr>   
                <% } %>

                <% for(var i in list.resultMusics.resultMusics) { %>
                    <tr>
                        
                        <td><p><%= list.resultMusics.resultMusics[i].title %></p> </td>
                        <td><p><%= list.resultMusics.resultMusics[i].discriminator %></p> </td>
                        <td><p><%= list.resultMusics.resultMusics[i].quantity %></p> </td>
                        <td><p><a href="catalog/update/<%= list.resultMusics.resultMusics[i].music_id %>" style= "float: right">Update</a></p></td>
                        <td><p><a href="catalog/delete/<%= list.resultMusics.resultMusics[i].music_id %>" style= "float: right">Delete</a></p></td>
                    </tr>
                <% } %>

                <% for(var i in list.resultBooks.resultBooks) { %>
                    <tr> 
                        <td><p><%= list.resultBooks.resultBooks[i].title %></p></td>
                        <td><p><%= list.resultBooks.resultBooks[i].discriminator %></p></td>
                        <td><p><%= list.resultBooks.resultBooks[i].quantity %></p></td>
                        <td><p><a href="catalog/update/<%= list.resultBooks.resultBooks[i].book_id %>" style= "float: right">Update</a></p></td>
                        <td><p><a href="catalog/delete/<%= list.resultBooks.resultBooks[i].book_id %>" style= "float: right">Delete</a></p></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <%- include('partials/_footer'); -%>
</body>

</html>