<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <% include navbar %>
</head>

<body>
    <div class="container col-sm-12" id="mainform">

        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info">

                <div class="panel-heading">
                    <div class="panel-title"><%= "("+results[0].book_id+") " + results[0].title %></div>
                </div>

                <div class="panel-body">

                    <form class="form-horizontal" role="form" method="POST" action="/catalog/update/<%= results[0].book_id %>/modify" onSubmit="return checkblank(this);">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="form-group">
                            <label for="first_name" class="col-md-3 control-label">quantity</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="quantity" value="<%= results[0].quantity %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="last_name" class="col-md-3 control-label">loand_period</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="loand_period" value="<%= results[0].loand_period %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mobile_number" class="col-md-3 control-label">loanable</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="loanable" value="<%= results[0].loanable %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address" class="col-md-3 control-label">title</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="title" value="<%= results[0].title %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">author</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="author" value="<%= results[0].author %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">format</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="format" value="<%= results[0].format %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">pages</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="pages" value="<%= results[0].pages %>">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">publisher</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="publisher" value="<%= results[0].publisher %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">language</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="language" value="<%= results[0].language %>">
                            </div>
                        </div>        
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">isbn10</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="isbn10" value="<%= results[0].isbn10 %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">isbn13</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="isbn13" value="<%= results[0].isbn13 %>">
                            </div>
                        </div>    

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>
                                    Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>