<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" value="<%= results.results[0].title %>">
</div>

<div class="form-group">
    <label>Director</label>
    <input type="text" class="form-control" name="director" value="<%= results.results[0].director %>">
</div>

<div class="form-group">
    <label>Producers <small class="text-muted">(seperate by a comma)</small></label>
    <input type="text" class="form-control" name="producers" value="<%= results.results[0].producers %>">
</div>

<div class="form-group">
    <label>Actors <small class="text-muted">(seperate by a comma)</small></label>
    <input type="text" class="form-control" name="actors" value="<%= results.results[0].actors %>">
</div>

<div class="form-group">
    <label>Language</label>
    <input type="text" class="form-control" name="language" value="<%= results.results[0].language %>">
</div>

<div class="form-group">
    <label>Dubbed Language</label>
    <input type="text" class="form-control" name="dubbed" value="<%= results.results[0].dubbed %>">
</div>

<div class="form-group">
    <label>Subtitles Language</label>
    <input type="text" class="form-control" name="subtitles" value="<%= results.results[0].subtitles %>">
</div>

<div class="form-group">
    <label>Release Date <small class="text-muted">(yyyy-mm-dd)</small></label>
    <% releasedate = results.results[0].release_date %>
    <% day = releasedate.getDate().toString().length < 2 ? '0' + releasedate.getDate() : releasedate.getDate() %>
    <% month = (releasedate.getMonth()+1).toString().length < 2 ? '0' + (releasedate.getMonth()+1) : releasedate.getMonth()+1 %>
    <% year = releasedate.getFullYear() %>
    <% newdate = year+"-"+month+"-"+day %>
    <input type="date" class="form-control" name="release_date" value="<%= newdate %>">
</div>

<div class="form-group">
    <label>Run Time <small class="text-muted">(in minutes)</small></label>
    <input type="number" class="form-control" name="run_time" value="<%= results.results[0].run_time %>">
</div>

<div class="form-group">
    <label>Loanable <small class="text-muted">(TRUE or FALSE)</small></label>
    <input type="text" class="form-control" name="loanable" maxlength="5" value="<%= results.results[0].loanable.toString().toUpperCase() %>">
</div>
    
<div class="form-group">
    <label>Loan Period <small class="text-muted">(number of days)</small></label>
    <input type="number" class="form-control" name="loand_period" value="<%= results.results[0].loand_period %>">
</div>

<div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control" name="quantity" value="<%= results.results[0].quantity %>" >
</div>