<html lang="en">
<head>
    <%- include('../partials/_header'); -%>
</head>

<body>
    <%- include('../partials/_navbar'); -%>
    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 my-2">
                <h2>List of Items in the Catalog</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th>Item #</th>
                                <th>Type</th>
                                <th>Title</th>
                                <th>By</th>
                            </tr>
                        </thead>
                            
                        <tbody>
                            <!-- Iterate over items -->
                            <% for(var i in list) { %>
                                <% for(var j in list[i]) { %>
                                    <tr> 
                                        <td><%= list[i][j].item_id %></td>
                                        <td><%= list[i][j].discriminator %></td>
                                        <td>
                                            <a href="/catalog/view/<%= list[i][j].discriminator %>/<%= list[i][j].item_id %>">
                                                <%= list[i][j].title %>
                                            </a>
                                        </td>
                                        <% if (i == "books"){ %>
                                            <td><%= list[i][j].author %></td>
                                        <% } if (i == "magazines"){%>
                                            <td><%= list[i][j].publisher %></td>
                                        <% } if (i == "movies"){%>
                                            <td><%= list[i][j].director %></td>
                                        <% } if (i == "musics"){%>
                                            <td><%= list[i][j].artist %></td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- ./ end table responsive -->
			</div>
			<!-- ./ end col -->
		</div>
		<!-- ./ end row -->

	</div>
	<!-- ./ end container -->
	<%- include('../partials/_footer') -%>   
</body>

</html>