<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control form-control-sm" name="title" value="<%= results.results[0].title %>">
</div>

<div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control form-control-sm" name="author" value="<%= results.results[0].author %>">
</div>

<div class="form-group">
    <label>Format <small class="text-muted">(Paperback or Hard Cover)</small></label>
    <input type="text" class="form-control form-control-sm" name="format" value="<%= results.results[0].format %>">
</div>

<div class="form-group">
    <label>Pages</label>
    <input type="number" class="form-control form-control-sm" name="pages" value="<%= results.results[0].pages %>">
</div>

<div class="form-group">
    <label>Publisher</label>
    <input type="text" class="form-control form-control-sm" name="publisher" value="<%= results.results[0].publisher %>">
</div>

<div class="form-group">
    <label>Language</label>
    <input type="text" class="form-control form-control-sm" name="language" value="<%= results.results[0].language %>">
</div>

<div class="form-group">
    <label>Release Date <small class="text-muted">(yyyy-mm-dd)</small></label>
    <% releasedate = results.results[0].release_date %>
    <% day = releasedate.getDate().toString().length < 2 ? '0' + releasedate.getDate() : releasedate.getDate() %>
    <% month = (releasedate.getMonth()+1).toString().length < 2 ? '0' + (releasedate.getMonth()+1) : releasedate.getMonth()+1 %>
    <% year = releasedate.getFullYear() %>
    <% newdate = year+"-"+month+"-"+day %>
    <input type="date" class="form-control form-control-sm" name="release_date" value="<%= newdate %>">
</div>

<div class="form-group">
    <label>ISBN10 <small class="text-muted">(1234567890)</small></label>
    <input type="number" maxlength="10" class="form-control form-control-sm" name="isbn10" value="<%= results.results[0].isbn10 %>">
</div>

<div class="form-group">
    <label>ISBN13 <small class="text-muted">(1234567890123)</small></label>
    <input type="number" maxlength="13" class="form-control form-control-sm" name="isbn13" value="<%= results.results[0].isbn13 %>">
</div>

<div class="form-group">
    <label>Loanable <small class="text-muted">(TRUE or FALSE)</small></label>
    <input type="text" class="form-control form-control-sm" name="loanable" maxlength="5" value="<%= results.results[0].loanable.toString().toUpperCase() %>">
</div>
    
<div class="form-group">
    <label>Loan Period <small class="text-muted">(number of days)</small></label>
    <input type="number" class="form-control form-control-sm" name="loan_period" value="<%= results.results[0].loan_period %>">
</div>