<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control form-control-sm" name="title" value="<%= results.results[0].title %>">
</div>

<div class="form-group">
    <label>Publisher</label>
    <input type="text" class="form-control form-control-sm" name="publisher" value="<%= results.results[0].publisher %>">
</div>

<div class="form-group">
    <label>Language</label>
    <input type="text" class="form-control form-control-sm" name="language" value="<%= results.results[0].language %>">
</div>

<div class="form-group">
    <label>ISBN10 <small class="text-muted">(1234567890)</small></label>
    <input type="number"maxlength="10" class="form-control form-control-sm" name="isbn10" value="<%= results.results[0].isbn10 %>">
</div>

<div class="form-group">
    <label>ISBN13 <small class="text-muted">(1234567890123)</small></label>
    <input type="number" maxlength="13" class="form-control form-control-sm" name="isbn13" value="<%= results.results[0].isbn13 %>">
</div>

<div class="form-group">
    <label>Loanable <small class="text-muted">(TRUE or FALSE)</small></label>
    <input type="text" class="form-control form-control-sm" name="loanable" maxlength="5" value="<%= results.results[0].loanable.toString().toUpperCase() %>" readonly>
</div>
    
<div class="form-group">
    <label>Loan Period <small class="text-muted">(number of days)</small></label>
    <input type="number" class="form-control form-control-sm" name="loan_period" value="<%= results.results[0].loan_period %>" readonly>
</div>