<html lang="en">
<head>
    <%- include('../partials/_header'); -%>
</head>

<body>
    <%- include('../partials/_navbar'); -%>
    <div class="container">
        
        <div class="row">
            <div class="col-12">
                <h2>Manage Users <small>(admin)</small></h2>
            </div>
        </div>        
        
        <div class="row">
            <div class="col-12">

                <%- include('../partials/_error'); -%>
                
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Promote</th>
                            <th scope="col">is_admin</th>
                            <th scope="col">user_id</th>
                            <th scope="col">f_name</th>
                            <th scope="col">l_name</th>
                            <th scope="col">email</th>
                            <th scope="col">address</th>
                            <th scope="col">num_permitted_items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < results.results.length; i++) { %>
                            <tr>
                                <!-- USES BOOLEAN -->
                                <% if(results.results[i].is_admin == false) { %>
                                    <td>
                                        <a class="btn btn-sm btn-success" href="/users/admincp/manageusers/promote/<%= results.results[i].user_id %>">Promote</a>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <a class="btn btn-sm btn-danger" href="/users/admincp/manageusers/demote/<%= results.results[i].user_id %>">Demote</a>
                                    </td>
                                <% } %>
                                <td style="text-transform: uppercase;"><%= results.results[i].is_admin %></td>
                                <td><%= results.results[i].user_id %></td>
                                <td><%= results.results[i].f_name %></td>
                                <td><%= results.results[i].l_name %></td>
                                <td><%= results.results[i].email %></td>
                                <td><%= results.results[i].address %></td>
                                <td><%= results.results[i].num_permitted_items %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
			</div>
			<!-- ./ end col -->
		</div>
		<!-- ./ end row -->

	</div>
	<!-- ./ end container -->
	<%- include('../partials/_footer') -%>   
</body>

</html>